html {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #4f5a64;
	color: ivory;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: Comfortaa;
	src: url(./fonts/Comfortaa-Light.ttf)
}

@font-face {
	font-family: RobotoMono;
	src: url(./fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
} 

@-ms-viewport {
    width: device-width ;
}

.fade {
    -webkit-animation: 4s fadein; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: 4s fadein; /* Firefox < 16 */
        -ms-animation: 4s fadein; /* Internet Explorer */
         -o-animation: 4s fadein; /* Opera < 12.1 */
            animation: 4s fadein;
	-webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main {
	padding: 5px;
	margin-left: auto;
	max-width: 60em;
	margin-right: auto;
}

@media(min-width:500px) {
	.column {
  		float: left;
  		width: 25%;
	}
	
	#iframe {
		height: 350;
	}
}

@media(min-width:700px) {
	#iframe {
		height: 500;
	}	
}

iframe {
	width: 100%;
	height: 300;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

header {
	text-align: center;
	font-family: "Latin Modern Roman", serif;	
}

.center {
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Comfortaa", sans-serif;
	color: white;
}

.comfortaa {
	font-family: "Comfortaa", sans-serif;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

p {	
	margin-left: 2em;
	font-family: "Arial", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4;
}

code {
	font-family: "RobotoMono";
}

a:link {
	color: pink;
	text-decoration: none;
}

a:visited {
	color: pink;
	text-decoration: none;
}

a:hover {
	color: plum;
	text-decoration: underline;
}

a:active {
	color: plum;
	text-decoration: underline;
}

footer {
	margin-top: 20px;
	text-align: center;
	font-family: "Arial", Arial, sans-serif;
}

hr {
	border: 1px dashed pink;	
}

.em {
	font-style: italic;
}

.pink {
	color: pink;
}

.inline {
	display: inline-block;
}

.logo {
	max-width: 30em;
}

.left {
	float: left;	
}

.right {
	float: right;
}

.date {
	font-family: "Arial", Arial, sans-serif;
	font-size: 1em;
	float: right;
	display: inline;
	color: pink;
}

.noblock {
	display: inline;
}

.bottom-margin {
	margin-bottom: 30px;
}

/*Slider*/
.slider {
  padding: 0;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
}

.slider ul {
  height: auto;
  width: 1000%;
  position: relative;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  -moz-animation:slide-animation 40s infinite;
  -webkit-animation:slide-animation 40s infinite;
}

.slider ul:hover {
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
}

.slider li {
  width: 10%;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px;
}

span {
  position: relative;
  height: 50px;
  display: block;
  font-size: 0.8em;
  bottom: 0;
  padding: 0.5px 20px 0px 20px;
  margin-top: -50px;
  overflow: hidden;
  background-color:rgba(54,44,48,0.6);
  color: #fcfcfc;
  text-shadow: 0px 1px 1px #9d9d9d;
  font-weight: normal;
  border-radius: 4px;
}

@-webkit-keyframes slide-animation {
  1% {left: 0%; opacity: 1;}
  15% {left: 0%; opacity: 1}
  20% {left: -100%; opacity: 1;}
  35% {left: -100%; opacity: 1;}
  40% {left: -200%; opacity: 1;}
  65% {left: -200%; opacity: 1;}
  70% {left: -300%; opacity: 1;}
  95% {left: -300%; opacity: 1;}
  100% {left: 0%; opacity: 1;}
}

@-moz-keyframes slide-animation {
  1% {left: 0%; opacity: 1;}
  15% {left: 0%; opacity: 1}
  20% {left: -100%; opacity: 1;}
  35% {left: -100%; opacity: 1;}
  40% {left: -200%; opacity: 1;}
  65% {left: -200%; opacity: 1;}
  70% {left: -300%; opacity: 1;}
  85% {left: -300%; opacity: 0;}
  92% {left: 0%; opacity:0;}
  100% {left: 0%; opacity: 1;}
}
