html {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #4f5a64;
	color: ivory;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
} 

@-ms-viewport {
    width: device-width ;
}

.fade img {
    -webkit-animation: 4s fadein; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: 4s fadein; /* Firefox < 16 */
        -ms-animation: 4s fadein; /* Internet Explorer */
         -o-animation: 4s fadein; /* Opera < 12.1 */
            animation: 4s fadein;
	-webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.main {
	margin-left: auto;
	max-width: 60em;
	margin-right: auto;
}

header {
	text-align: center;
	font-family: "Latin Modern Roman", serif;	
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Comfortaa", sans-serif;
	color: white;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

p {	
	margin-left: 2em;
	font-family: "Arial", Arial, sans-serif;
	font-size: 1em;
}

a:link {
	color: pink;
	text-decoration: none;
}

a:visited {
	color: pink;
	text-decoration: none;
}

a:hover {
	color: plum;
	text-decoration: underline;
}

a:active {
	color: plum;
	text-decoration: underline;
}
